*{
            margin: 0px;
            padding: 0px;
        }
        .about{
            margin: 0px;
            padding: 0px;
            background: url(https://az-ci-afde-prd-nexa-01-dkcjcehxewgpebhe.z01.azurefd.net/-/media/feature/nexawebsiteherobanner/electric_ev/desktop/evbanner1920x800_new.webp);
            height: 650px;
            background-size: cover;
        }
        body{
             background-color: #f5f5f0;
        }

        nav{
            background-color: black;
            height: 70px;
            display: flex;
        }

        .navdiv{
            margin-left: 100px;
        }
        #navbut{
            margin: 15px 30px;
            height: 40px;
            width: 240px;
            background-color: transparent;
            font-size: 21px;
            font-weight: bold;
            border: 2px solid white;
            color: white;
            border-radius: 30px;
            cursor: pointer;
        }

        #navbut:hover{
            background-color: white;
            color: black;
        }


        header{
            margin: 5px;
        }
        #mywp{
            margin: 0px;
        }
        .carc{
            cursor: pointer;
            height: 190px;
            width: 190px;
            border: 1.5px solid grey;
            background-color: white;
            border-radius: 15px;
            margin: 25px;
        }

        .carc:hover{
            padding: 5px;
            border-bottom: 7px solid grey;
        }

        .carscomp1{
            margin-top: 20px;
            display: flex;
        }

        .carscomp2{
            display: flex;
            margin-bottom: 0px;
        }

        #imgbrans{
            height: 90px;
            width: 150px;
            margin: 20px;
        }

        #namec{
            font-size: 22px;
            text-align: center;
        }

        a{
            text-decoration: none;
            color:rgb(40, 40, 40);
        }

        .carrow4{
            border: 1px solid grey;
            background-color: white;
            display: flex;
            margin: 20px;
            border-radius: 15px;
            margin-bottom: 50px;
        }

        .carabout{
            border: 2px solid rgb(84, 84, 84);
            height: 350px;
            width: 300px;
            margin: 40px 30px;
            border-radius: 10px;
            background-color: #f6f6ee;
        }

        #imgcars{
            width: 292px;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
        }

        #namecars{
            padding: 10px;
            font-size: 21px;
        }

        small{
            font-size: 16px;
        }

        #buttcars{
            margin: 10px;
            padding: 8px;
            border: 1.5px solid rgb(32, 32, 32);
            color: rgb(32, 32, 32);
            background-color: white;
            width: 180px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        #morecb{
            padding: 13px;
            margin: 20px;
            width: 97.3%;
            font-size: 17px;
            border: 1.5px solid grey;
            border-radius: 15px;
            color: rgb(84, 84, 84);
            margin-bottom: 35px;
            margin-top: 5px;
        }

        #morecb:hover{
            color: rgb(32, 32, 32);
            border:1.5px solid rgb(32, 32, 32);
        }

        #carcap{
            margin:10px;
            color: rgb(84, 84, 84);
            font-size: 25px;
            display: inline;
        }

        .car11{
            color: rgb(72, 72, 72);
            border: 2px solid grey;
            margin: 20px;
            border-radius: 15px;
            margin-bottom: 50px;
            height: 300px;
            display: flex;
            background-color: #f5f5f5;
        }

        #imgcar11{
            height: 300px;
            width:500px;
            padding: 0px;
            margin: 0px;
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;
            cursor: pointer;
        }

        .car11about{
            margin: 25px;
        }

        #butcar11{
            padding: 10px;
            width: 300px;
            border-radius: 5px;
            border: 1.6px solid rgb(32, 32, 32);
            color: rgb(32, 32, 32);
            font-size: 17px;
            background-color: white;
            cursor: pointer;
        }